doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel='stylesheet' href='style.css') 
        title Детский лагерь Рыжая Ворона лидер велосмен в Казани
    body 
        .wrapper
            header.header
                .container
                    .col-3
                        button.burger-button.header__burger-button
                            div 
                            div 
                            div 
                    .header__inscribtion.col-3 детский легерь в Казани
                    .col-3 
                        a(href='#').logo
                            img(src='img/icons/logo.png')
                    .col-3
                        .contact-icons
                            a(href='') 
                                img(src="/img/icons/phone.svg" alt="")
                            a(href='') 
                                img(src="/img/icons/VK.png" alt="")
                            a(href='') 
                                img(src="/img/icons/whatsapp.svg" alt="")
            nav.nav
                .container.scroll-visual 
                    a(href='').nav__link.nav__link--current главная
                    a(href='').nav__link фото
                    a(href='').nav__link смены
                    a(href='').nav__link отзывы
                    a(href='').nav__link конатакты
                    a(href='').nav__link о нас
                    img(src='img/icons/right-scroll.svg').scroll-visual__element--right
            section.main-seciton
                .container
                    .main-seciton__content
                        h1 Мы не просто лагерь, 
                            span.colored а большая семья
                        p — Детский лагерь <br> — Лидер велосмен и ролевого направления <br> — Выезды и мероприятия<br>—  Квесты и иммерсивы<br>— Дни рождения<br><br>✔ Наша команда работает уже 13 лет!<br>✔ Мы провели более 100 смен!<br>✔ В наших вселенных побывало более 3 000 участников!
                        a(href='#').btn-1 записаться на смену
            section.photo-section
                .container
                    <svg id="text-container" viewBox="0 -20 1000 240" xmlns="http://www.w3.org/2000/svg"> <path id="text-curve" d="M0 100s269.931 86.612 520 0c250.069-86.612 480 0 480 0" fill="none"></path> 
                    <text y="40" font-weight="500"> <textPath id="text-path" href="#text-curve" startOffset="-100"> • Мы создаём свои миры! • Мы создаём свои миры! • Мы создаём свои миры! • Мы создаём свои миры! • Мы создаём свои миры! •
                    </textPath> </text></svg>
                    img(src='img/wave.svg').photo-section__wave
                    .photo-section__content
                        .photo-section__info
                            h2 Незабываемые каникулы в 
                                span.colored рыжей вороне
                            p Мы уникальны потому, что не ставим на поток события и смены, а каждый раз создаём их с нуля, с идеи. За 13 лет мы создали их больше 100 и ни одна не повторилась.
                            a(href='').btn-2 смотреть фото
                    .scroller.photo-section__scroller
                        .scroller__container
                            .scroller__row
                                .scroller__item
                                .scroller__item
                                .scroller__item
                                .scroller__item
                                .scroller__item
                                .scroller__item
                                .scroller__item
                                .scroller__item
                                .scroller__item
                                .scroller__item
                            .scroller__row
                                .scroller__item
                                .scroller__item
                                .scroller__item
                                .scroller__item
                                .scroller__item
                                .scroller__item
                                .scroller__item
                                .scroller__item
                                .scroller__item
                                .scroller__item
                            .scroller__row
                                .scroller__item
                                .scroller__item
                                .scroller__item
                                .scroller__item
                                .scroller__item
                                .scroller__item
                                .scroller__item
                                .scroller__item
                                .scroller__item
                                .scroller__item
                            .scroller__row
                                .scroller__item
                                .scroller__item
                                .scroller__item
                                .scroller__item
                                .scroller__item
                                .scroller__item
                                .scroller__item
                                .scroller__item
                                .scroller__item
                                .scroller__item
                            .scroller__row
                                .scroller__item
                                .scroller__item
                                .scroller__item
                                .scroller__item
                                .scroller__item
                                .scroller__item
                                .scroller__item
                                .scroller__item
                                .scroller__item
                                .scroller__item
                                .scroller__item
                                .scroller__item
                                .scroller__item
                                .scroller__item
                            .scroller__row
                                .scroller__item
                                .scroller__item
                                .scroller__item
                                .scroller__item
                                .scroller__item
                                .scroller__item
                                .scroller__item
                                .scroller__item
                                .scroller__item
                                .scroller__item
                                .scroller__item
                                .scroller__item
                                .scroller__item
                                .scroller__item
                            .scroller__row
                                .scroller__item
                                .scroller__item
                                .scroller__item
                                .scroller__item
                                .scroller__item
                                .scroller__item
                                .scroller__item
                                .scroller__item
                                .scroller__item
                                .scroller__item
                                .scroller__item
                                .scroller__item
                                .scroller__item
                            .scroller__row
                                .scroller__item
                                .scroller__item
                                .scroller__item
                                .scroller__item
                                .scroller__item
                                .scroller__item
                                .scroller__item
                                .scroller__item
                                .scroller__item
                                .scroller__item
                                .scroller__item
                                .scroller__item
                                .scroller__item
                            .scroller__row
                                .scroller__item
                                .scroller__item
                                .scroller__item
                                .scroller__item
                                .scroller__item
                                .scroller__item
                                .scroller__item
                                .scroller__item
                                .scroller__item
                                .scroller__item
                                .scroller__item
                                .scroller__item
                                .scroller__item

                                
                            .scroller__row
                                .scroller__item
                                .scroller__item
                                .scroller__item
                                .scroller__item
                                .scroller__item
                                .scroller__item
                                .scroller__item
                                .scroller__item
                                .scroller__item
                                .scroller__item
                                .scroller__item
                                .scroller__item
                                .scroller__item
                            .scroller__row
                                .scroller__item
                                .scroller__item
                                .scroller__item
                                .scroller__item
                                .scroller__item
                                .scroller__item
                                .scroller__item
                                .scroller__item
                                .scroller__item
                                .scroller__item
            section.sessions-section
                .container
                    a(href='').camp-session
                        .camp-session__container
                            div(style="background-image: url('/img/image\ 5.png')").camp-session__img
                            .btn-3.camp-session__link подробнее
                        .camp-session__date 10 - 15 июля
                        .camp-session__price 16 900 ₽  
                            span 18 900 ₽
                    a(href='').camp-session
                        .camp-session__container
                            div(style="background-image: url('/img/image\ 5.png')").camp-session__img
                            .btn-3.camp-session__link подробнее
                        .camp-session__date 10 - 15 июля
                        .camp-session__price 16 900 ₽  
                            span 18 900 ₽
                    a(href='').camp-session
                        .camp-session__container
                            div(style="background-image: url('/img/image\ 5.png')").camp-session__img
                            .btn-3.camp-session__link подробнее
                        .camp-session__date 10 - 15 июля
                        .camp-session__price 16 900 ₽  
                            span 18 900 ₽
            section.lottery-section
                .container
                    h2 Розыгрыш 
                        span.colored рыжей путёвки
                    p Мы объявляем конкурс на <b>полностью бесплантую</b> путевку в зимнюю смену 2023 «Зимний очаг».
                    h3 Правила просты!
                    p Сделайте как можно больше репостов 
                        a(href='').link этого поста о конкурсе в ВК
                    p
                        b Количество репостов и лайков повышает ваш шанс на выигрыш!
                    a(href).btn-3 подробности в нашем ВК! ->
        footer

            script(src='script.js')
            script(src='script.js')

