.burger-button{

    //properties
    $height: 15px;
    $width: 20px;
    $line-weight: .125;
    $bias: calc($height * (1 - $line-weight) / 2);
    $bg: unset;
    $lines-color: $dark-color;

    height: $height;
    width: $width;
    padding: 10px;
    background: $bg;
    position: fixed;
    border-radius: 5px;
    z-index: 100;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: .5s;
    div{
        width: 100%;
        height: $line-weight * 100%;
        background-color: $lines-color;
        transition: inherit;
        border-radius: 100px;
    }
    &--active div:first-child{
        transform:  translateY($bias) rotate(45deg);
    }
    &--active div:last-child {
        transform: translateY(-$bias) rotate(-45deg);
    }
    &--active div:nth-child(2) {
        opacity: 0;
    }
}