.camp-session{
    color: $dark-color;
    &__container{
        position: relative;
    }
    &__img{
        padding-top: 100%;
        border-radius: 15px;
        width: 100%;
        background-size: cover;
    }
    &__link{
        position: absolute;
        right: 20px;
        bottom: 20px;
    }
    &__date{
        margin-top: 13px;
        font-size: 14px;
        font-weight: 400;
        line-height: 118%;
    }
    &__price{
        font-size: 20px;
        font-weight: 700;
        line-height: 118%;
        span{
            display: inline-block;
            opacity: .7;
            font-size: 20px;
            font-weight: 500;
            line-height: 118%;
            text-decoration: line-through;
            margin-left: 8px;
        }
    }
}